<strong>Olá, {{ name }}! </strong>
<p>A sua pergunta foi respondida no dia {{ answerAtFormated }}.</p>
<br />
<strong>
  <p>Pergunta: "{{ question }}" </p>
  <br />
  <p>Resposta: {{ answer }} </p>
  <br />
</strong>
<br />
<p>Estamos sempre à disposição!</p>
